* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.header {
    background: #0f62f9;
    width: 1350px;
    height: 128px;
    font-size: 12px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header .header-top a {
    color: #fff;
    padding: 10px;
}

.header .header-top a i {
    padding-right: 6px;
}

.header-top-left a:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.6);
}